@model IEnumerable<BestDarnRealtorApp.Models.Listing>

@{
    ViewData["Title"] = "All Listings";
}

<h1>Index</h1>

<p>
    <a asp-action="Create"><i class="fas fa-plus-square"></i>Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mls)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bedrooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bathrooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GarageSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SquareFeet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LotSize)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    var priceStr = item.SalesPrice.ToString("$##,#");

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mls)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street1)
            </td>
            
            <td>
                @priceStr
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bedrooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bathrooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GarageSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SquareFeet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LotSize)
            </td>
          
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
